
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Add Account</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <ion-card>
    <ion-card-content>
    <ion-item>
      <ion-label>Service</ion-label>
      <ion-input type="text" placeholder="Gmail"></ion-input>
      <ion-avatar item-end>
        <img src="assets/imgs/cap.png">
      </ion-avatar>
     </ion-item>
    <ion-item>
      <ion-label>Mail</ion-label>
      <ion-input type="email" placeholder="test@mail.com"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input type="{{type}}" name="password" ngModel #password="ngModel" required pattern=".{4,10}"></ion-input>
      <button *ngIf="!showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()">
        <ion-icon name="eye-off"></ion-icon>
      </button>
      <button *ngIf="showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()">
        <ion-icon name="eye"></ion-icon>
      </button>
    </ion-item>
    <ion-item>
      <button ion-button full color="primary">Add</button>
    </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
